{
  "presets": [
    "react-app"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@api": ["./src/api"],
        "@state": ["./src/state"],
        "@views": ["./src/views"],
        "@utils": ["./src/utils"]
      }
    }]
  ]
}