@import 'fluidType';

$accent: #663399;

@font-face {
  font-family: 'Gill Sans';
  src:
    local('Gill Sans Light'), local('GillSans-Light'),
    url('./fonts/GillSans-Light.woff2') format('woff2'),
    url('./fonts/GillSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gill Sans';
  src: 
    local('Gill Sans'), local('GillSans'),
    url('./fonts/GillSans.woff2') format('woff2'),
    url('./fonts/GillSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$font-stack: (
  "Gill Sans",
  "Roboto",
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  "Oxygen",
  "Ubuntu",
  "Cantarell",
  "Fira Sans",
  "Droid Sans",
  "Helvetica Neue",
  sans-serif
);

$font-stack-code: (
  source-code-pro,
  Menlo,
  Monaco,
  Consolas,
  "Courier New",
  monospace
);
    
%smallfont {
  font-size: .8rem;
  font-weight: 300;
  font-style: normal;
}
html,
body,
ul,
ol {
  margin:  0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

input,
button {
  font-family: $font-stack;
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: $font-stack;
  font-weight: normal;
  font-style: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: url(https://source.unsplash.com/random/1000x1000/?coffee) no-repeat center center fixed;
  background-color: rgb(0, 0, 0);
  
  @media screen and (max-width: 700px) {
    background-position: top;
  }
}

a {
  color: $accent;
}

$min_width: 320px;
$max_width: 1000px;
$min_font: 20px;
$max_font: 23px;

$spinner_size: 1.5rem;


html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

code {
  font-family: $font-stack-code;
}

#root {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "weather todo"
    "weather .";
  @media screen and (max-width: 700px) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding: 0 4rem;
  }
  @media screen and (max-width: 550px) {
    padding: 0 3rem;
  }
}

.panel {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 4px;
  margin: 4px;
  border-radius: 4px;
  transition: all ease;
}

%input-form {
  border: none;
  text-align: center;
  font-size: 1rem;
  width: 100%;
  padding: 5px;
  padding-left: 4px;
  margin: 0;
  text-align: left;
  border-radius: 4px;
}

.slide-up {
  animation: slide-up 0.2s ease;
}

.loading-text {
  padding-left: 10px;
}

.LoadingSpinner {
  opacity: .5;
  position: absolute;
  width: $spinner_size;
  height: $spinner_size;
  right: 0;
  bottom: 0;
  animation: spinning 2s linear infinite;
}

.ErrorMessage {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: .12rem;
  font-size: .8rem;
  animation: fade-out 2s linear forwards 3s;
  color: white;
  background: maroon;
}

.ErrorMessage:hover {
  animation: none;
  opacity: 1;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}