@import 'fluidType';

$font-stack: (
  "Gill Sans",
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  "Roboto",
  "Oxygen",
  "Ubuntu",
  "Cantarell",
  "Fira Sans",
  "Droid Sans",
  "Helvetica Neue",
  sans-serif
);

$font-stack-code: (
  source-code-pro,
  Menlo,
  Monaco,
  Consolas,
  "Courier New",
  monospace
);

html,
body,
ul,
ol {
  margin:  0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

input,
button {
  font-family: $font-stack;
}

body {
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(https://source.unsplash.com/random/1000x1000/) no-repeat center center fixed;
  background-color: rgb(0, 0, 0);
  background-size: cover;
}

$min_width: 320px;
$max_width: 1000px;
$min_font: 16px;
$max_font: 22px;

$spinner_size: 1.5rem;

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

code {
  font-family: $font-stack-code;
}

#root {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "weather . todo"
    "weather . todo"
}

.panel {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 4px;
  margin: 4px;
  border-radius: 4px;
  transition: all ease;
}

%input-form {
  border: none;
  text-align: center;
  font-size: 1rem;
  width: 100%;
  padding: 5px;
  padding-left: 4px;
  margin: 0;
  text-align: left;
  border-radius: 4px;
}

.Todos {
  position: relative;
  grid-area: todo;
  max-height: 100vh;
  overflow-y: auto;
  text-align: left;
  display: flex;
  justify-content: flex;
  flex-direction: column-reverse;
  .Form {
    @extend %input-form;
    margin: 5px 0;
  }
}

.Weather {
  position: relative;
  grid-area: weather;
  max-height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  input {
    display: inline;
  }
  button {
    display: inline;
  }
  .Info {
    position: relative;
    width: 70%;
    height: 70%;
    text-align: left;
    .weather-title {
      margin: 0;
      padding: 0;
      font-size: 1rem;
      font-weight: normal;
      border-bottom: 1px solid lightgray;
    }
    .weather-data {
      display: flex;
      flex-direction: row;
      justify-content: space-between;   
    }
    .weather-temp {
      font-size: 3rem;
      margin: 0;
      padding: 0;
    }
    .weather-misc {
      padding-top: .2rem;
      font-size: .8rem;
      text-align: end;
      font-weight: lighter;
      span {
        display: inline-block
      }
    }
    .weather-cards {
      display: flex;
      justify-content: center;
    }
    .weather-card {
      font-size: 1rem;
      text-align: center;
      font-weight: lighter;
      display: inline-block;
      background: rgba(248, 248, 255, 0.5);
      border-radius: 4px;
      margin: 3px;
      width: 4.5rem;
      height: 5rem;
      img {
        width: 2rem;
        height: 2rem;
      }
      span {
        display: block;
      }
      .weather-desc {
        font-size: .6rem;
      }
    }
  }
}

.List {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;  
  padding: 0 4px;
  text-align: left;
  li {
    padding: 2px 0;
    border-bottom: 1px solid lightgray;
    user-select: none;
  }
  li:last-child {
    border-bottom: 0;
  }
}

.no-todos {
  text-align: center;
  color: gray;
  font-size: 1.2rem;
  img {
    opacity: .5;
  }
}

.Filters {
  margin-left: 4px;
}

.filter-link {
  margin-right: 4px;
  transition: color .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.filter-link:active {
  color: inherit;
}

.filter-link-current {
  color: black;
  text-decoration: none;
}

.slide-up {
  animation: slide-up 0.2s ease;
}

.spinning {
  animation: spinning 4s infinite linear;
}

.loading-text {
  padding-left: 10px;
}

.LoadingSpinner {
  opacity: .5;
  position: absolute;
  width: $spinner_size;
  height: $spinner_size;
  right: 0;
  bottom: 0;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}