.Todos {
  grid-area: todos;
  position: relative;
  display: flex;
  flex-direction: column;
  vertical-align: top;
  // @media screen and (max-width: 700px) {
  //   min-height: 20rem;
  //   max-height: 20rem;
  // }
  // scroll-snap-align: start;
}

.Todos::before {
  background-image: url(https://source.unsplash.com/random/1000x1000/?code,office);
}

.Form {
  @extend %input-form;
  margin: 5px 0;
}

.List {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;  
  padding: 0 4px;
  text-align: left;
  overflow-y: scroll;
  li {
    padding: 2px 0;
    border-bottom: 1px solid lightgray;
    user-select: none;
  }
  li:last-child {
    border-bottom: 0;
  }
}

.no-todos {
  margin-top: 40px;
  text-align: center;
  color: gray;
  font-size: 1.2rem;
  img {
    opacity: .5;
  }
}

.Filters {
  // margin-left: 4px;
}

.filter-link {
  margin-right: 4px;
  transition: color .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.filter-link:active {
  color: inherit;
}

.filter-link-current {
  color: black;
  text-decoration: none;
}

.filter-link:last-of-type {
  margin-right: 0;
}
