.Weather {
  grid-area: weather;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: top;
  // @media screen and (max-width: 700px) {
  //   min-height: 20rem;
  // }
  // scroll-snap-align: start;
}

.Weather::before {
  background-image: url(https://source.unsplash.com/random/1000x1000/?nature,weather);
}

.form-wrapper {
  position: relative;
  text-align: center;
  overflow-y: scroll;
  width: 100%;
}

.form-dropdown {
  list-style: none;
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
  // position: absolute;
  width: 100%;
  // left: 0;
  border-radius: 3px;
  li {
    margin: 4px;
    padding: 4px;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background-color: $accent;
      color: white;
    }
  }
  overflow: scroll; 
  // max-height: 10rem;
}

.Info {
  position: relative;
  width: 100%;
  text-align: left;
  min-height: 250px;
}

.weather-title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  border-bottom: 1px solid lightgray;
  white-space: nowrap;
  overflow: hidden;
}

.weather-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;   
}

.weather-temp {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.weather-temp::selection {
  background-color: transparent;
}

.weather-misc {
  padding-top: .2rem;
  text-align: end;
  @extend %smallfont;
  span {
    display: inline-block
  }
}

.weather-cards {
  display: flex;
  justify-content: center;
}

.weather-card {
  @extend %smallfont;
  text-align: center;
  display: inline-block;
  background: rgba(248, 248, 255, 0.5);
  border-radius: 4px;
  margin: 3px;
  width: 4.7rem;
  height: 4.8rem;
  padding: 3px;
  img {
    width: 2rem;
    height: 2rem;
  }
  span {
    display: block;
  }
  overflow: hidden;
}

.weather-desc {
  font-size: .6rem;
}

.wind-direction {
  will-change: transform;
}
