.Weather {
  position: relative;
  height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: top;
  // @media screen and (max-width: 700px) {
  //   min-height: 20rem;
  // }
  padding: 30px;
}

.form-wrapper {
  position: relative;
  text-align: center;
  width: 70%;
  overflow-y: scroll;
}

.Form {
  @extend %input-form;
  margin: 10px 0;
}

.form-dropdown {
  list-style: none;
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
  // position: absolute;
  width: 100%;
  // left: 0;
  border-radius: 3px;
  li {
    margin: 4px;
    padding: 4px;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background-color: $accent;
      color: white;
    }
  }
  // overflow-y: scroll; 
  // max-height: 10rem;
}

.Info {
  position: relative;
  width: 85%;
  text-align: left;
  margin-top: 2rem;
  margin-bottom: .2rem;
  @media screen and (max-width: 700px) {
    margin-top: 2rem;
  }
}

.weather-title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  border-bottom: 1px solid lightgray;
  white-space: nowrap;
  overflow: hidden;
}

.weather-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;   
}

.weather-temp {
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

.weather-misc {
  padding-top: .2rem;
  text-align: end;
  @extend %smallfont;
  span {
    display: inline-block
  }
}

.weather-cards {
  display: flex;
  justify-content: center;
}

.weather-card {
  @extend %smallfont;
  text-align: center;
  display: inline-block;
  background: rgba(248, 248, 255, 0.5);
  border-radius: 4px;
  margin: 3px;
  width: 4.5rem;
  height: 5rem;
  padding: 3px;
  img {
    width: 2rem;
    height: 2rem;
  }
  span {
    display: block;
  }
  overflow: hidden;
}

.weather-desc {
  font-size: .6rem;
}

.wind-direction {
  will-change: transform;
}