html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(https://source.unsplash.com/random/1000x1000/) no-repeat center center fixed;
  background-color: rgb(0, 0, 0);
  // background-size: auto 100%;
  background-size: cover;
  
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {

      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }

      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min_width: 320px;
$max_width: 1000px;
$min_font: 16px;
$max_font: 22px;

$spinner_size: 2em;

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

#root {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "weather . todo"
}

.panel {
  background-color: rgba(255,255,255,0.66);
  padding: 4px;
  border-radius: 4px 4px 4px 4px;
  margin: 4px;
  line-height: 1.6em;
  transition: all ease;
}

%input-form {
  border: none;
  text-align: center;
  font-size: 1em;
  width: 100%;
  padding: 5px;
  padding-left: 4px;
  margin: 0;
  text-align: left;
  border-radius: 4px;
}

.Todos {
  position: relative;
  grid-area: todo;
  max-height: 100vh;
  overflow-y: scroll;
  text-align: left;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  .Form {
    @extend %input-form;
    margin: 5px 0;
  }
}

.Weather {
  position: relative;
  grid-area: weather;
  max-height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .Form {
    @extend %input-form;
    margin-top: 5px;
  }
  .Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    .weather-title {
      margin: 0;
      padding: 0;
      line-height: 1.2em;
      font-size: 1em;
      font-weight: normal;
    }
    .weather-data {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: left;        
    }
    .weather-icon {
      width: 100px;
      height: 100px;
    }
    .weather-info {
      p {
        margin: 0;
        padding: 0;
        font-size: 0.8em;
        line-height: 1.5em;
      }
      p.temperature {
        font-size: 2em;
        line-height: 1em;
      }
    }
  }
}

.List {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;  
  padding: 0 4px;
  text-align: left;
  li {
    padding: 2px 0;
    border-bottom: 1px solid lightgray;
    user-select: none;
  }
  li:last-child {
    border-bottom: 0;
  }
}

.no-todos {
  text-align: center;
  color: gray;
  font-size: 1.2em;
  img {
    opacity: .5;
  }
}

.Filters {
  margin-left: 4px;
}

.filter-link {
  margin-right: 4px;
  transition: color .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.filter-link:active {
  color: inherit;
}

.filter-link-current {
  color: black;
  text-decoration: none;
}

.slide-up {
  animation: slide-up 0.2s ease;
}

.spinning {
  animation: spinning 4s infinite linear;
}

.loading-text {
  padding-left: 10px;
}

.LoadingSpinner {
  opacity: .5;
  position: absolute;
  width: $spinner_size;
  height: $spinner_size;
  right: 0;
  bottom: 0;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}